.button__div {
    display: flex;
    justify-content: center;
    padding: 5px 4px 0 4px;
}

.button {
    border-radius: 6px;
    width: 100%;
    max-width: 650px;
    background-color: hsl(0, 0%, 100%);
    opacity: 0.7;
}

.button:hover {
    background-color: hsl(0, 3%, 19%);
}

.button:active {
    background-color: hsl(48, 51%, 89%);
}