html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.mainContainer {
    padding: 40px 20px;
    font-family: 'Archivo Black', sans-serif;
}

.backgroundImage {
    background-image: url("../images/currencyCalculatorBackground4.jpg");
    background-repeat: no-repeat;  
}